body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2ecc71;
    color: white;
}

canvas {
    border: 2px solid #ecf0f1;
    background-color: #3427ae;
    margin: 20px auto;
    display: block;
}

#controls {
    margin-top: 20px;
}
